In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

from env import host, password, user 

def get_db_url(user, password, host, db):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

**1.  Use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, ```df_iris```, from this data.**

In [9]:
df_iris = sns.load_dataset('iris')

* print the first 3 rows

In [24]:
df_iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

* print the number of rows and columns (shape)

In [29]:
df_iris.shape

(150, 5)

* print the column names

In [30]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

* print the data type of each column

In [31]:
df_iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

* print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [28]:
df_iris.describe()

# recommend changing the species name from string to numerical data

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

**2. Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.**

In [33]:
df_excel = pd.read_csv('Table1_CustDetails.csv')

* assign the first 100 rows to a new dataframe, df_excel_sample

In [40]:
df_excel_sample = df_excel.sample(n=100,axis = 0)

df_excel_sample.shape

(100, 12)

* print the number of rows of your original dataframe

In [39]:
df_excel.shape

(7049, 12)

* print the first 5 column names

In [58]:
columns = list(df_excel.columns.values.tolist())
print(columns[0:5])

['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']

* print the column names that have a data type of object

In [72]:
object_columns = df_excel.select_dtypes('object')
print(list(object_columns))

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

* compute the range for each of the numeric variables.

In [75]:
variables = df_excel.select_dtypes(exclude = 'object')
print(list(variables))

['is_senior_citizen', 'phone_service', 'internet_service', 'contract_type', 'monthly_charges', 'total_charges']

In [80]:
df_variables = df_excel.select_dtypes(exclude = 'object')
df_variables.min(), df_variables.max()

(is_senior_citizen     0.00
 phone_service         0.00
 internet_service      0.00
 contract_type         0.00
 monthly_charges      18.25
 total_charges        18.80
 dtype: float64,
 is_senior_citizen       1.00
 phone_service           2.00
 internet_service        2.00
 contract_type           2.00
 monthly_charges       118.75
 total_charges        8684.80
 dtype: float64)